@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	* {
		@apply font-manrope text-primary;
	}

	body {
		@apply bg-background
	}

	button {
		@apply cursor-pointer;
	}
}

@theme {
	--color-primary: #111827;
	--color-secondary: #6b7280;
	--color-tertiary: #9ca3af;
	--color-accent: #3b82f6;
	--color-success: #10b981;
	--color-warning: #f59e0b;
	--color-danger: #ef4444;
	--color-border: #e5e7eb;
	--color-background: #f5f5f7;
	--color-card: #ffffff;
	--color-muted: #f3f4f6;
	--color-transparent: #00000000;

	--font-manrope: "Manrope", ui-sans-serif, system-ui, sans-serif;

	--text-display: 2.25rem; /* 36px */
	--text-display--line-height: 1.2;
	--text-title: 1rem; /* 16px */
	--text-title--line-height: 1.25;
	--text-subtitle: 0.875rem; /* 14px */
	--text-subtitle--line-height: 1.375;
	--text-body: 0.875rem; /* 14px */
	--text-body--line-height: 1.5;
	--text-caption: 0.6875rem; /* 11px */
	--text-caption--line-height: 1.45;
}
